:root {
  --background: #EEE9DF;
  --border-primary: #958F83;
  --background-secondary: #C9C1B1;
  --border-secondary: #645F57;
  --background-tertiary: #AEA799;
  --foreground: #1B2632;
  --accent: #A35139;
  --accent-border: #7D3E2C;
  --hover-primary: #86432f;
  --hover-secondary: #A35139;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B2632;
    --border-primary: #384B61;
    --background-secondary: #253241;
    --border-secondary: #1B2632;
    --background-tertiary: #384B61;
    --foreground: #EEE9DF;
    --foreground-secondary: #93908A;
    --accent: #FFB162;
    --accent-border: #aa7641;
    --hover-primary: #ffb972;
    --hover-secondary: #FFB162;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

[data-sonner-toast] {
  --normal-bg: var(--background-secondary) !important;
  --normal-border: var(--border-primary) !important;
  --normal-text: var(--foreground) !important;
}