.main {
    display: flex;
    flex-direction: column;
    padding: calc(var(--navbar-height) + var(--board-top-pad)) var(--board-h-pad) 0px;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    position: relative;
}