.topBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    align-items: center;
    color: var(--foreground);
    font-size: 25px;
    border-bottom: 2px solid var(--border-primary);
}

.itemToEnd {
    margin-left: auto;
}