.topBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
    align-items: center;
    color: var(--foreground);
    font-size: 25px;
    background: var(--background);
    opacity: 0.99;
    border-bottom: 2px solid var(--border-primary);
}

.itemToEnd {
    margin-left: auto;
}