.main {
    display: flex;
    padding: calc(var(--navbar-height) + 48px) 24px 48px;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    min-height: calc(100dvh - var(--navbar-height));
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--background-secondary);
    border: 3px solid var(--border-primary);
    border-radius: 16px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: var(--foreground);
}