.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    width: 100%;
    max-width: 680px;
    aspect-ratio: 1/1;
    border: 3px solid black;
}

.whiteSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #CCC9BF;
}

.blackSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #7f5831;
}

.highlightedBlackSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #A35139;
}

.highlightedWhiteSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #FFB162;
}

.whitePiece {
    width: 60%;
    height: 60%;
    /*color: #9F9689;*/
    /*color: #555151;*/
}

.blackPiece {
    width: 60%;
    height: 60%;
    /*color: #623F2B;*/
    /*color: #1B2632;*/
}