.icon {
    color: var(--foreground);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginField {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.searchInput {
    border: 2px var(--border-secondary) solid;
    padding: 12px 10px;
    color: var(--foreground);
    font-size: 16px;
    border-radius: 8px;
    background: var(--background-tertiary);
}

.searchInput::placeholder {
    color: var(--foreground-secondary);
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}

.searchInput:focus {
    border-color: var(--accent);
    outline: none;
}

.primaryButton {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 128px;
    border: 1px solid transparent;
    transition: 0.2s;
    cursor: pointer;
    width: fit-content;
    font-weight: 500;

    background: var(--accent);
    color: var(--background);
    font-weight: bold;
    border: 2px solid var(--accent-border);
    gap: 8px;
}

@media (hover: hover) and (pointer: fine) {
    .primaryButton:hover {
        background: var(--hover-primary);
        border-color: transparent;
    }
}